<mat-card class="profile-card custom-card">
  <mat-card-header>
    <div class="profile-header">
      <h1 class="profile-title">Perfil</h1>


    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="profile-content">
      <div class="profile-image">
        <img src="../../../assets/IMG_0157.JPG" alt="Profile Image">
      </div>
      <div class="profile-details">
        <h1>Ilder Tocto</h1>
        <span>Fullstack Developer</span>
        <hr>
        <ng-container >
          <p>Telefono: +51 956 433 712</p>
          <p>Email: toctoctuz@gmail.com</p>
          <p><a href="https://www.linkedin.com/in/ildertocto/" target="_blank">LinkedIn</a></p>
          <p>Lima - Perú</p>
        </ng-container>
      </div>
    </div>
  </mat-card-content>
</mat-card>
