
<div class="container">
    <section class="row">
      <div class="col-md-6 col-lg-4">
        <article class="p-4 rounded shadow-sm border-left mb-4">
          <div class="row">
              <div class="col">
                <span href="#" class="d-flex align-items-center">
                  <span class="bi bi-person h5"></span>
                  <h5 class="ml-2">MAZDA</h5>
                </span>
              </div>
              <div class="col">
                  <h4 class="text-right ml-2"><strong>28</strong></h4>
              </div>
          </div>
        </article>
      </div>

       <div class="col-md-6 col-lg-4">
        <article class="p-4 rounded shadow-sm border-left mb-4">
          <div class="row">
              <div class="col">
                <span href="#" class="d-flex align-items-center">
                  <span class="bi bi-person h5"></span>
                  <h5 class="ml-2">AUDI</h5>
                </span>
              </div>
              <div class="col">
                  <h4 class="text-right ml-2"><strong>40</strong></h4>
              </div>
          </div>
        </article>
      </div>

      <div class="col-md-6 col-lg-4">
        <article class="p-4 rounded shadow-sm border-left mb-4 lf-pro">
          <div class="row">
              <div class="col">
                <span href="#" class="d-flex align-items-center">
                  <span class="bi bi-person h5"></span>
                  <h5 class="ml-2">BMW</h5>
                </span>
              </div>
              <div class="col">
                  <h4  class="text-right"><strong>28</strong></h4>
              </div>
          </div>
        </article>
      </div>
  </section>
</div>

  <div class="container-fluid">
    <h2>Cotizar Seguro</h2>
  </div>

  <div class="container-fluid mt-5">
    <app-insurance-form> </app-insurance-form>
  </div>
  <div classs="container">
    
  </div>

