article{
  color:white;
}

article h5{
  font-weight: 600;
}
article {
  background-color: #E51B23; /* Cyan suave */
  border-radius: 8px;
  padding: 16px;
  color: #ffffff; /* Texto blanco para buen contraste */
}
